@font-face {
  font-family: "CookieRun-Regular";
  src: url('../fonts/CookieRun-Regular.woff') format('woff');
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-align: center;
  font-family: "CookieRun-Regular";
}
a:hover { text-decoration:none !important}

#header {
  padding-top: 22px;
  height: 100px;
  background-color: #212529;
}