*{
  box-sizing: border-box;
  outline: none;
  
}

body{
  font-size:14px;
  background-color: white;
  line-height: 1.5em;
  color : #333;
  margin: 0;
}

a{
  text-decoration: none;
  color: #333;
}

.member{
  width: 400px;
  margin: auto;
  padding: 0 20px;
  margin-bottom: 20px;
}

.member .logo{
  display: block;
  margin :50px auto;
}

.member .field{
  margin :5px 0;
}

.member input:not(input[type=checkbox]),.member select{
  border: 1px solid #dadada;
  padding: 15px;
  width: 100%;
  margin-bottom: 5px;
  border-radius: 5px;
}

.member input[type=submit]{
background-color: #ccc;
cursor: pointer;
border: 1px solid #dadada;
border-radius: 5px;

}


.placehold-text{
  display: block;
  position:relative;
}
input {
  font-size: 15px;
}
input:focus {
  outline: 2px solid rgb(0, 102, 255);
}
.textalign{
  display: flex;
  justify-content: space-around;
}

@media (max-width:768px) {
  .member{
      width: 100%;
      
  }
}